<!DOCTYPE html>
<head>
  <title>OpenAI Quickstart</title>
  <link
    rel="shortcut icon"
    href="{{ url_for('static', filename='essay.png') }}"
  />
  <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}" />
</head>

<body>
  <img src="{{ url_for('static', filename='essay.png') }}" class="icon" />
  <h3>Topic of your essay</h3>
  <form action="/" method="post">
    <input type="text" name="user" placeholder="Enter a topic" required />
    <input type="submit" value="Generate Essay" />
  </form>
  {% if result %}
  <div class="result">{{ result }}</div>
  {% endif %}
</body>
